<form fxLayout="column" (ngSubmit)="createQuestionArsenal()">
  <mat-form-field>
    <input matInput placeholder="arsenal_id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="room_id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="question_id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="content">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="timer" type="number">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Create</button>
</form>
