<div class="grid-container">
  <h1 class="mat-h1">{{title}}</h1>

  <div fxLayoutAlign="space-around center" fxLayout="row wrap" fxLayout.xs="column">
    <button *ngIf="homepage" fxFlex="45%" mat-raised-button color="primary" routerLink="room/create">Create room
    </button>
    <button fxFlex="45%" mat-raised-button color="accent" routerLink="arsenal/create">Create game/survey</button>
  </div>

  <mat-grid-list [cols]="cols | async" rowHeight="20em">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Running games
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <div style="color: dodgerblue"><h1>&hellip;</h1></div>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Recent activity
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <div style="color: dodgerblue"><h1>&hellip;</h1></div>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile fxFlex>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            High scores
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <div style="color: dodgerblue"><h1>&hellip;</h1></div>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="homepage">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Rooms
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <mat-list>
              <a mat-list-item [routerLink]="'/room/' + room.name + '_' + room.owner" *ngFor="let room of rooms">
                {{ room.name }}
              </a>
            </mat-list>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
