<div class="grid-container">
  <h1 class="mat-h1">{{title}}</h1>

  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <button *ngIf="homepage" fxFlex="45%" mat-raised-button color="primary" routerLink="room/create">Create room
    </button>
    <button fxFlex="45%" mat-raised-button color="accent" routerLink="arsenal/create">Create game/survey</button>
  </div>

  <mat-grid-list [cols]="cols | async" rowHeight="20em">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Running games
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <div style="color: dodgerblue"><h1>&hellip;</h1></div>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Recent activity
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <div style="color: dodgerblue"><h1>&hellip;</h1></div>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile fxFlex>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            High scores
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <div style="color: dodgerblue"><h1>&hellip;</h1></div>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="homepage">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Rooms
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>

          <mat-card-content class="dashboard-card-content">
            <mat-list>
              <a mat-list-item [routerLink]="'/room/' + room.name + '_' + room.owner" *ngFor="let room of rooms">
                {{ room.name }}
              </a>
            </mat-list>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
